<footer class="footer" style="margin-top:100px">
  <div class="container">

    <a href="index.html" class="navbar-brand" style="color:white;font-size: 10pt;">
      <img src="../../assets/logoSmall.png" style="max-width:50px;margin-right: 20px;" />
      VIII Ogólnopolska Akademia Pediatrii</a>
    <div class="credits ml-auto">
      <span class="copyright">
        © 2019, made with
        <i _ngcontent-c2="" class="fa fa-heart heart"></i> by Michał S.
      </span>
    </div>
  </div>
</footer>
