<nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand">VIII Ogólnopolska Akademia Pediatrii</a>
    </div>
    <div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#page-lecture">
            Wykładowcy
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#page-shedule">Plan konferencji</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#page-about">O nas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#page-contact">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#page-sponsor">Partnerzy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Polub na facebook" data-placement="bottom" href="https://www.facebook.com/akademiapediatrii" target="_blank">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Obserwuj na Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
            <i class="fa fa-instagram"></i>
            <p class="d-lg-none">Instagram</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Wesprzyj!" data-placement="bottom" href="https://www.siepomaga.pl/studenci-ump-dla-alexa?fbclid=IwAR3lcMHNMpNhzAh0BRkBNkc-yL-ZUd9wBgcEiotsmJWw_vpVERIywkT2iVI" target="_blank">
            <i class="fa fa-heart"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
