<nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
  <div class="container" style="padding-left:10px;">
    <div class="navbar-translate">
      <a href="index.html" class="navbar-brand" style="font-size: 11pt;">
        <img src="../../assets/logoSmall.png" style="max-width:50px;margin-right: 15px;" /> VIII Ogólnopolska Akademia Pediatrii </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
      <div class="navbar-translate"></div>
      <ul class="navbar-nav ml-auto" style="margin:0 50 0 50">
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe46DZONRw53LVGhw9JJW057JrHBEcxwxBsKwxu35QIsV7D-w/viewform?fbclid=IwAR19C2MQwhNbIfDZM919damT80RXU_UIXVGS98goztTS3LjYIE61au57Rrs">Rejestracja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#page-timetable">Terminarz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#page-competition">
            Konkurs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#page-shedule">Harmonogram</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#page-lecture">
            Wykładowcy
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#page-sponsor">Partnerzy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#page-contact">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Polub na facebook" data-placement="bottom" href="https://www.facebook.com/akademiapediatrii" target="_blank">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Obserwuj na Instagram" data-placement="bottom" href="https://www.instagram.com/akademia.pediatrii" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
