<div class="container">

  <div style="text-align:center; margin-bottom:50px;" data-aos="fade-up">
    <h1 style="font-weight: bolder;">
      Kontakt
    </h1>
  </div>

  <div class="row fullscreen d-flex align-items-center justify-content-center">
    <div class="col-lg-6" data-aos="fade-right" data-aos-duration="2500">
      <h4>6 - 7 Marca 2020</h4>
      <h4>
        Centrum Biologii Medycznej Uniwersytetu Medycznego w Poznaniu
      </h4>
      <h5>
        Adres: Rokietnicka 8, 60-806 Poznań
      </h5>
      <h5>
      <a href="mailto:viiioap.kontakt@gmail.com"> viiioap.kontakt@gmail.com</a>
      </h5>
    </div>
    <div class="col-lg-5 responsive" data-aos="fade-left" data-aos-duration="2500">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2433.9559558516385!2d16.888935015950057!3d52.40747445231453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470444c594bb9d49%3A0xe52590a44b90a30a!2sCentrum%20Biologii%20Medycznej%20Uniwersytetu%20Medycznego%20w%20Poznaniu!5e0!3m2!1spl!2spl!4v1576006291930!5m2!1spl!2spl" width="400" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe> </div>
  </div>
