<div class="container">

  <div style="text-align:center; margin-bottom:50px;">
    <h1 style="font-weight: bolder;">
      Terminarz
    </h1>
  </div>

  <div class="row">
    <div class="col-lg-8" data-aos="fade-right" data-aos-duration="2500">
      <table style="width:100%;">
        <tr>
          <th>Wydarzenie</th>
          <th>Data</th>
        </tr>
        <tr>
          <td>Ostateczny termin wysyłania abstraktów na Sesję Konkursową</td>
          <td> 31.01.2020</td>

        </tr>
        <tr>
          <td>Otwarcie rejestracji na konferencję</td>
          <td>07.02.2020</td>

        </tr>
        <tr>
          <td>Ostateczny termin wysyłania prezentacji zakwalifikowanych na Sesję Konkursową</td>
          <td>28.02.2020</td>

        </tr>
        <tr>
          <td>Otwarcie zapisów na warsztaty</td>
          <td>29.02.2020</td>

        </tr>
        <tr>
          <td>Otwarcie zapisów na Sesję Quizową</td>
          <td>06.03.2020</td>

        </tr>
      </table>
    </div>
    <div class="col-lg-4" data-aos="fade-left" data-aos-duration="2500">
      <img src="../../assets/timetableImg.jpg" style="width:100%">
    </div>
  </div>
</div>
