<app-navbar></app-navbar>

<section class="homeSection">
  <app-home></app-home>
</section>

<section>
  <app-invite></app-invite>
</section>
<br />
<br />

<app-timetable id="page-timetable" style="padding-top: 50px;"></app-timetable>

<br />
<br />
<section>
  <app-competition-session id="page-competition" style="padding-top: 50px;"> </app-competition-session>
</section>
<br />
<br />
<br />

<section>
  <app-shedule id="page-shedule" style="padding-top: 50px;"></app-shedule>
</section>
<br />
<br />
<section>
  <app-lecturers id="page-lecture" style="padding-top: 50px;"> </app-lecturers>
</section>
<br />
<br />
<br />
<section>
  <app-sponsors id="page-sponsor"></app-sponsors>
</section>
<br />
<br />
<br />
<section>
  <app-contact id="page-contact"></app-contact>
</section>
<app-footer></app-footer>
