<div class="container">

  <div style="text-align:center; margin-bottom:50px;">
    <h1 style="font-weight: bolder;">
      Plan konferencji - w przygotowaniu
    </h1>
  </div>

  <!-- <div class=" row fullscreen d-flex align-items-center justify-content-center" >
    <div class="col-lg-6" data-aos="fade-right" data-aos-duration="2500">
      <h1>
        6 Marca 2020
      </h1>
      <ul class="timeline" data-aos="fade-right" data-aos-duration="2900">
        <li>
          <h5>Rejestracja uczestników</h5>
          <p>
            <small>
              <i class="fa fa-clock-o"></i> 10:45 - 11:00
            </small>
          </p>
        </li>
        <li>
          <h5 class="timeline-title">Oficjalne otwarcie konferencji</h5>
          <p>
            <small class="text-muted">
              <i class="fa fa-clock-o"></i> 10:45 - 11:00
            </small>
          </p>
        </li>
        <li class="timeline-inverted">
          <h5 class="timeline-title">Rejestracja uczestników</h5>
          <p>
            <small class="text-muted">
              <i class="fa fa-clock-o"></i> 10:45 - 11:00
            </small>
          </p>
        </li>
        <li class="timeline-inverted">
          <h4 class="timeline-title">Wykład 2 - Lekarz</h4>
          <p>
            <small class="text-muted">
              <i class="fa fa-clock-o"></i> 10:45 - 11:00
            </small>
          </p>
        </li>
      </ul>
    </div>
    <div class="col-lg-5" data-aos="fade-left" data-aos-duration="2500">
      <h1>
        7 Marca 2020
      </h1>
      <ul class="timeline" data-aos="fade-left" data-aos-duration="2900">
        <li>
          <h5 class="timeline-title">Rejestracja uczestników</h5>
          <p>
            <small class="text-muted">
              <i class="fa fa-clock-o"></i> 10:45 - 11:00
            </small>
          </p>
        </li>
        <li class="timeline-inverted">
          <h5 class="timeline-title">Oficjalne otwarcie konferencji</h5>
          <p>
            <small class="text-muted">
              <i class="fa fa-clock-o"></i> 10:45 - 11:00
            </small>
          </p>
        </li>
        <li>
          <h5>Wykład 1</h5>
          <p>
            <small class="text-muted">
              <i class="fa fa-clock-o"></i> 10:45 - 11:00
            </small>
          </p>
          <div>
            Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
          </div>
        </li>

      </ul>
    </div>
  </div> -->
</div>
