<div class="container">

  <div style="text-align:center; margin-bottom:50px;">
    <h1 style="font-weight: bolder;">
      Plan konferencji
    </h1>
  </div>

  <div class="row" style="display: flex;flex-direction:row;">
    <div class="col-lg-6" data-aos="fade-right" data-aos-duration="2500">
      <h1>
        6 Marca 2020
      </h1>
      <ul class="timeline" data-aos="fade-right" data-aos-duration="2900">
        <li>
          <h5 style="font-weight: bolder;">Warsztaty</h5>
          <p>
            <small>
              <i class="fa fa-clock-o"></i> 13:30 - 14:30
            </small>
          </p>
        </li>
        <li>
          <h5 style="font-weight: bolder;">Rejestracja</h5>
          <p>
            <small>
              <i class="fa fa-clock-o"></i> 14:30 - 15:00
            </small>
          </p>
        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">Inauguracja Konferencji</h5>
          <h5 class="timeline-title">
            <small class="text-muted">
              <i class=" fa fa-user-md"></i>
            </small>
            Lek. Eryk Matuszkiewicz</h5>
          <h5 class="timeline-title" style="font-style: italic;">

            Po nitce do kłębka, czyli co internista chciałby powiedzieć pediatrze</h5>

          <p>
            <small class="text-muted">
              <i class="fa fa-clock-o"></i> 15:00 - 15:30
            </small>
          </p>
        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">Wykłady</h5>
          <p>
            <small class="text-muted">
              <i class="fa fa-clock-o"></i> 15:30 - 16:30
            </small>
          </p>
        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">
            <small class="text-muted">
              <i class=" fa fa-user-md"></i>
            </small>
            Dr hab. n. med. Tomasz Szczapa</h5>
          <h5 class="timeline-title" style="font-style: italic;">

            Badanie przedmiotowe noworodka - na co zależy zwracać uwagę?</h5>
        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">
            <small class="text-muted">
              <i class=" fa fa-user-md"></i>
            </small>
            Dr n. med. Joanna Stryczyńska - Kazubska
          </h5>
          <h5 class="timeline-title" style="font-style: italic;">

            Szczepienia ochronne - proste działanie, trudna rozmowa</h5>


        </li>
      </ul>
    </div>
    <div class="col-lg-6" data-aos="fade-left" data-aos-duration="2500">
      <h1>
        7 Marca 2020
      </h1>
      <ul class="timeline" data-aos="fade-left" data-aos-duration="2900">
        <li>
          <h5 style="font-weight: bolder;">Warsztaty</h5>
          <p>
            <small>
              <i class="fa fa-clock-o"></i> 08:00 - 11:00
            </small>
          </p>
        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">Wykłady</h5>
          <p>
            <small class="text-muted">
              <i class="fa fa-clock-o"></i> 11:15 - 13:00
            </small>
          </p>
        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">
            <small class="text-muted">
              <i class=" fa fa-user-md"></i>
            </small>
            Lek. Dagmara Smektała-Smakulska</h5>
          <h5 class="timeline-title" style="font-style: italic;">

            Kaszel NPL-owy, POZ-owy, izbowy, czyli postępowanie ostrodyżurowe z pacjentem kaszlącym</h5>
        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">
            <small class="text-muted">
              <i class=" fa fa-user-md"></i>
            </small>
            Dr n. med. Patrycja Marciniak - Stępak
          </h5>
          <h5 class="timeline-title" style="font-style: italic;">

            Symulować czy nie symulować - Oto jest pytanie... O symulacji medycznej słów kilka</h5>


        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">
            <small class="text-muted">
              <i class=" fa fa-user-md"></i>
            </small>
            Prof. dr hab. n. med. Magdalena Figlerowicz
          </h5>
          <h5 class="timeline-title" style="font-style: italic;">

            Dokąd może nas zaprowadzić podwyższona aktywność aminotransferaz u dzieci</h5>


        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">Sesja Konkursowa</h5>
          <p>
            <small class="text-muted">
              <i class="fa fa-clock-o"></i> 13:00 - 14:00
            </small>
          </p>
        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">Przerwa lunchowa</h5>
          <p>
            <small class="text-muted">
              <i class="fa fa-clock-o"></i> 14:00 - 14:30
            </small>
          </p>
        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">Wykłady</h5>
          <p>
            <small class="text-muted">
              <i class="fa fa-clock-o"></i> 14:30 - 16:15
            </small>
          </p>
        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">
            <small class="text-muted">
              <i class=" fa fa-user-md"></i>
            </small>
            Prof. dr hab. n. med. Aldona Siwińska
          </h5>
          <h5 class="timeline-title" style="font-style: italic;">
            Horror echo</h5>
        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">
            <small class="text-muted">
              <i class=" fa fa-user-md"></i>
            </small>
            Dr n. med. Joanna Chłapowska
          </h5>
          <h5 class="timeline-title" style="font-style: italic;">

            Jama ustna integralną częścią organizmu</h5>
        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">
            <small class="text-muted">
              <i class=" fa fa-user-md"></i>
            </small>
            Prof. dr hab.n.med. Katarzyna Derwich
          </h5>
          <h5 class="timeline-title" style="font-style: italic;">

            Czerwone flagi na horyzoncie - kiedy skierować dziecko do onkologa</h5>
        </li>
        <li>
          <h5 class="timeline-title" style="font-weight: bold;">Wręczenie nagród i zakończenie konferencji</h5>
          <p>
            <small class="text-muted">
              <i class="fa fa-clock-o"></i> 16:15 - 17:00
            </small>
          </p>
        </li>

      </ul>
    </div>
  </div>
</div>
