<div class="container">
  <div style="text-align:center; margin-bottom:25px;">
    <h1 style="font-weight: bolder;">
      Zaproszenie
    </h1>
  </div>
  <div class="row">

    <div style="text-align:left" class=" col-lg-6">
      <h1>
        <strong>Szanowni Państwo,</strong>
      </h1>
      <div style="text-align: justify;text-justify: inter-word;">
        <p>
          z ogromną radością zapraszamy Państwa na kolejną -
          <strong>VIII edycję Ogólnopolskiej Akademii Pediatrii</strong>.
          Wspólnymi siłami tworzymy konferencję, która zrzesza coraz większą
          liczbę studentów i młodych lekarzy. Dzięki temu staje się ona
          obowiązkowym punktem w kalendarzu każdego przyszłego pediatry.
        </p>
        <p>
          Tematem tegorocznej konferencji jest hasło:
          <strong>„Po nitce do kłębka”</strong>. Chcemy skoncentrować uwagę
          uczestników na podstawowe objawy częstych jednostek chorobowych, które
          pomagają w postawieniu prawidłowego rozpoznania. Istotę tematu stanowi
          również proces diagnostyczny oraz umiejętność komunikacji z małymi
          pacjentami i ich rodzicami.
        </p>
        <p>
          Pragniemy zaoferować Państwu jak najszerszą ofertę zawierającą
          interesujące wykłady, sesję konkursową, quizową oraz różnorodne
          warsztaty. Pozwoli to nie tylko przyswoić wiedzę teoretyczną, ale
          także da możliwość samodzielnego przećwiczenia niektórych czynności.
        </p>
        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe46DZONRw53LVGhw9JJW057JrHBEcxwxBsKwxu35QIsV7D-w/viewform?fbclid=IwAR19C2MQwhNbIfDZM919damT80RXU_UIXVGS98goztTS3LjYIE61au57Rrs">
        <button  class="form-control btn" style="background-color: #22222e;color: white;font-weight: bold;">
            Rejestracja uczestników
          </button>
        </a>
        <a target="_blank" href="../../files/Regulamin_VIII_OAP.pdf">
          <button  class="form-control btn" style="background-color: #22222e;color: white;font-weight: bold;">
            Regulamin VIII Ogólnopolskiej Akademii Pediatrii
          </button>
          </a>
      </div>
    </div>
    <div class="col-lg-5" style="padding:10px;">
      <figure>
        <img src="../assets/komitet.jpg" class="responsive" />
        <figcaption style="text-align: center;font-weight: bolder;"> Komitet organizacyjny</figcaption>
      </figure>
    </div>
  </div>

</div>
