/* You can add global styles to this file, and also import other style files */

html, body
{
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0
}
body {min-height: 100%; margin: 0; font-family: "Comfortaa" !important;  }


.wrapper{
  overflow-x:hidden;
  position: relative;
}
section{
  margin-bottom:50px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logoContent {
  text-align: center;
  z-index: 2;
}
p{
  word-break: break-word;
}
h1{
  word-break: break-word;
}
.responsive {
  width: 100%;
  height: auto;
}

ngb-carousel:active{
  border: 0px;
}

.carousel-control-prev-icon{
 background-image: url('https://apufpel.com.br/assets/img/seta_prim.png') !important;
}
.carousel-control-next-icon{
   background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')!important;
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}
.carousel-control-next-icon, .carousel-control-prev-icon
{
  width:90% !important;
  height:10% !important;
}
.carousel-control-next, .carousel-control-prev{
  opacity:2 !important;
  width:5% !important;
}
.carousel-control-prev{
  opacity:2 !important;
  width:5% !important;
}
