<div class="container flex-container">
  <div class=" fullscreen d-flex align-items-center justify-content-center" style="height:950px">
    <div class="row">
      <div class="logoContent col-lg-6" data-aos="fade-right" data-aos-duration="2500">
        <img src="../assets/Logo.png" class="responsive" />
      </div>
      <div class="col-lg-6 justify-content-center" style="color:white;padding-top:50px;">
        <h1 style="margin-bottom: 25px;font-weight: bolder;" data-aos="fade-left" data-aos-duration="2000">
          Po nitce do kłębka
        </h1>
        <h3 style="margin-bottom: 25px;" data-aos="fade-left" data-aos-duration="2600">
          6 - 7 Marca 2020
        </h3>
        <h3 data-aos="fade-left" data-aos-duration="3000">
          Centrum Biologii Medycznej
        </h3>
        <h3 data-aos="fade-left" data-aos-duration="3000">Poznań</h3>
      </div>
    </div>

  </div>
</div>
